.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    color: #fff;
    font-size: large;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 0px 10px;
    color: #fff;
    line-height: 20px;
}